XML/confirmregister.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="ConfirmRegister">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="User">
				<xs:complexType>
					<xs:sequence minOccurs="1">
						<xs:element name="DeviceID" type="xs:string"/>
						<xs:element name="LoginOK" type="xs:boolean"/>
						<xs:element name="SessionID" type="xs:string"/>
						<xs:element name="Date" type="xs:date"/>
						<xs:element name="Time" type="xs:time"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>