XML/location.xsd

<?xml version="2.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="CurrentLocation">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Marker" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SessionID" type="xs:string" minOccurs=0/>
						<xs:element name="Latitude" type="xs:decimal"/>
						<xs:element name="Longditude" type="xs:decimal"/>
						<xs:element name="Date" type="xs:date"/>
						<xs:element name="Time" type="xs:time"/>
					</xs:sequence>
					<xs:attribute name="deviceid" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>